---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem, Card, Pagination } from 'accessible-astro-components'

import { CMS_URL, FEED_URL } from '@globals'

export async function getStaticPaths({ paginate }) {
  const response = await fetch(FEED_URL)
  const data = await response.json()

  const bios = data.items.bios;

  return paginate(bios, { pageSize: 6 })
}

const { page } = Astro.props
---
<DefaultLayout
  title="Instructors"
  description="This page fetches the instructor bios via a JSON feed provided by the gymcms."
>
  <Breadcrumbs>
    <BreadcrumbsItem href="/" label="Home" />
    <BreadcrumbsItem currentPage={true} label="Instructors" />
  </Breadcrumbs>
  <section>
    <h1>Instructors</h1>
    <p>
      This page fetches the instructor bios via a JSON feed provided by the gymcms: <a href={FEED_URL}>{FEED_URL}</a>.
    </p>
  </section>
  <section>
    <p class="text-sm"><em>Page {page.start + 1} through {page.end + 1} of {page.total} total pages</em></p>
    <ul class="my-3">
      {
        page.data.map((bio) => (
          <li>
            <Card
              url={`/instructors/${bio.title.replaceAll(' ', '-').toLowerCase()}`}
              title={bio.title}
              footer={bio.subtitle}
              img={`${CMS_URL}${bio.img}`}
            >
              {bio.description}
            </Card>
          </li>
        ))
      }
    </ul>
    <div class="mt-12 grid place-content-center">
      <Pagination
        firstPage={page.url.prev ? '/instructors/' : null}
        previousPage={page.url.prev ? page.url.prev : null}
        nextPage={page.url.next ? page.url.next : null}
        lastPage={page.url.next ? `/instructors/${Math.round(page.total / page.size)}` : null}
        currentPage={page.currentPage}
        totalPages={Math.round(page.total / page.size)}
      />
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
