---
import { CollectionEntry, getCollection } from 'astro:content';
import Bio from '@layouts/Bio.astro';

export async function getStaticPaths() {
  const bios = await getCollection('bios');
  return bios.map((bio) => ({
    params: { slug: bio.slug },
    props: { bio },
  }));
}
type Props = CollectionEntry<'bios'>;

const { bio } = Astro.props;
const { Content } = await bio.render();
---

<Bio {...bio.data}>
  <h1>{bio.data.name}</h1>
  <h2>{bio.data.subtitle}</h2>
  <p>{bio.data.description}</p>
  {bio.data.headshot && <img src={`/src/assets/img/headshots/${bio.data.headshot}`} alt={`Image of ${bio.data.name}`} />}
  <Content />
</Bio>
