---
import { fade } from 'astro:transitions';
import * as global from '@globals'
const login = `${global.LMS_URL}/login`
const logout = `${global.LMS_URL}/logout`
---
<li class="menu-item">
  <a transition:persist class="account-button" href={login} aria-label="Sign In" data-login-text="Sign In" data-login-url={login} data-logout-text="Sign Out" data-logout-url={logout}>Sign In</a>
</li>