---
const siteName = 'Aquent Gymnasium'
import * as global from '@globals'

interface Props {
	title?: any | null;
	description?: any | null;
  image?: any | null;
  author?: any | null;
}

const { title, description, url, image, author } = Astro.props;

const metaTitle = title ? `${title} | ${global.SITE_TITLE}` : global.SITE_TITLE;
const metaAuthor = author ? `${author}` : global.SITE_AUTHOR;
const metaDesc = description ? `${description}` : global.SITE_DESCRIPTION;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<title>{metaTitle}</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={metaDesc} />
<meta name="author" content={metaAuthor} />
<meta name="generator" content={Astro.generator} />

<meta property="og:title" content={`${title} | ${siteName}`} />
<meta property="og:description" content={metaDesc} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={Astro.url ? `${Astro.url}${image}` : image} />
