---
const siteName = 'Aquent Gymnasium'
import * as global from '@globals'

interface Props {
	title?: any | null;
	description?: any | null;
  image?: any | null;
  author?: any | null;
}

const { title, description, url, image, author } = Astro.props

const metaTitle = title ? `${title} | ${global.SITE_TITLE}` : global.SITE_TITLE;

// console.log(title, description, url, image, author)
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- general meta -->
<title>{metaTitle}</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<meta name="generator" content={Astro.generator} />
<!-- open graph -->
<meta property="og:title" content={`${title} | ${siteName}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={Astro.url ? `${Astro.url}${image}` : image} />

<!-- twitter card -->

