---
import * as global from '@globals'

interface Props {
	title?: any | null;
	description?: any | null;
  image?: any | null;
  author?: any | null;
}

const { title, description, image, author } = Astro.props;

const metaTitle = title ? `${title} | ${global.META.title}` : global.META.title;
const metaAuthor = author ? `${author}` : global.META.author;
const metaDesc = description ? `${description}` : global.META.description;
const metaURL = Astro.url ?? Astro.url;
const metaImg = image ? `${image}` : global.META.og_img;
const lmsURL = global.LMS_URL
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="prerender" href={lmsURL} />
<title>{metaTitle}</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={metaDesc} />
<meta name="author" content={metaAuthor} />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="noai, noimageai, noindex, nofollow, noimageindex, noarchive, nosnippet, nocache" />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={metaDesc} />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content={metaAuthor}>
<meta property="og:url" content={metaURL} />
<meta property="og:image" content={metaImg} />
