---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { CMS_URL, FEED_URL } from '@globals'

export async function getStaticPaths() {
  const data = await fetch(FEED_URL).then((response) => response.json())

  return data.items.tutorials.map((tutorial) => {
    return {
      params: { tutorial: tutorial.title.replaceAll(' ', '-').toLowerCase() },
      props: { tutorial },
    }
  })
}

const { tutorial } = Astro.props
---

<DefaultLayout title={tutorial.title} description={tutorial.body} url={tutorial.title}>
  <Breadcrumbs>
    <BreadcrumbsItem href="/" label="Home" />
    <BreadcrumbsItem href="/tutorials/" label="tutorials via JSON" />
    <BreadcrumbsItem currentPage={true} label={tutorial.title} />
  </Breadcrumbs>
  <section class="">
    <h1>{tutorial.title}</h1>
    <h4>{tutorial.id}</h4>
    {tutorial.img && <img src={`${CMS_URL}${tutorial.img}`} alt={`Image of ${tutorial.title}`} />}
    <p>{tutorial.description}</p>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
