---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { CMS_URL } from '@globals'

export async function getStaticPaths() {
  const data = await fetch(`${CMS_URL}/feeds/complete.json`).then((response) => response.json())

  return data.items.courses.map((course) => {
    return {
      params: { course: course.title.replaceAll(' ', '-').toLowerCase() },
      props: { course },
    }
  })
}

const { course } = Astro.props
---

<DefaultLayout title={course.title} description={course.body} url={course.title}>
  <Breadcrumbs>
    <BreadcrumbsItem href="/" label="Home" />
    <BreadcrumbsItem href="/courses/" label="Courses via JSON" />
    <BreadcrumbsItem currentPage={true} label={course.title} />
  </Breadcrumbs>
  <section class="">
    <h1>{course.title}</h1>
    <h4>{course.id}</h4>
    {course.img && <img src={`${CMS_URL}${course.img}`} alt={`Image of ${course.title}`} />}
    <p>{course.description}</p>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
